# Ambiente virtual
.venv/
venv/
env/

# Pastas geradas
Downloads/
__pycache__/
*.pyc

# Executáveis
ffmpeg.exe
*.exe

# Arquivos sensíveis
cookies.txt
*.log
*.json

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/